<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>filters</h1>
        
        <h2>{{data}}</h2>
        <h2>{{data|lower}}</h2>
        <h2>{{data|upper}}</h2>
        
        <h2>{{data|title}}</h2>
        <h2>{{data|capfirst}}</h2>
        
        <h2>{{data|length}}</h2>
        
        <h2>{{data|truncatechars:'10'}}</h2>
        
        <h2>{{data|truncatewords:'2'}}</h2>
        
        <h2>{{data|slice:'10'}}</h2>

        <h1>{{t|date:'F Y A'}}</h1>

        <h2>I have {{c}} cat{{c|pluralize}}</h2>
        <h2>I have {{c}} mango{{c|pluralize:'es'}}</h2>
        <h2>This cat{{c|pluralize}} {{c|pluralize:'is,are'}} mine</h2>
        

    </center>
</body>
</html>


